In [1]:
import numpy as np
import pandas as pd

In [2]:
import nltk

In [3]:
import re

In [43]:
df = pd.read_csv('sms_spam.csv')

In [44]:
df

      type                                               text
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5569  spam  This is the 2nd time we have tried 2 contact u...
5570   ham               Will ü b going to esplanade fr home?
5571   ham  Pity, * was in mood for that. So...any other s...
5572   ham  The guy did some bitching but I acted like i'd...
5573   ham                         Rofl. Its true to its name

[5574 rows x 2 columns]

In [45]:
df.isnull().sum()

type    0
text    0
dtype: int64

In [46]:
df['type'].value_counts()

ham     4827
spam     747
Name: type, dtype: int64

In [47]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\compaq\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [48]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\compaq\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [49]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\compaq\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [50]:
english_sw = nltk.corpus.stopwords.words('english')

In [51]:
english_sw

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [52]:
from nltk.stem import WordNetLemmatizer

In [53]:
stemmer = WordNetLemmatizer()

In [54]:
revised_sentences = []
for i in range(df.shape[0]):
    review = re.sub(r'[^a-zA-Z]', ' ', df['text'][i])
    review = review.lower()
    review_tokenize = nltk.word_tokenize(review)
    review = [stemmer.lemmatize(word) for word in review_tokenize if word not in set(english_sw)]
    review_join = ' '.join(review)
    revised_sentences.append(review_join)

In [55]:
df['revised_sentences'] = revised_sentences

In [56]:
df

,type,text,revised_sentences
0,ham,"Go until jurong point, crazy.. Available only ...",go jurong point crazy available bugis n great ...
1,ham,Ok lar... Joking wif u oni...,ok lar joking wif u oni
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,free entry wkly comp win fa cup final tkts st ...
3,ham,U dun say so early hor... U c already then say...,u dun say early hor u c already say
4,ham,"Nah I don't think he goes to usf, he lives aro...",nah think go usf life around though
...,...,...,...
5569,spam,This is the 2nd time we have tried 2 contact u...,nd time tried contact u u pound prize claim ea...
5570,ham,Will ü b going to esplanade fr home?,b going esplanade fr home
5571,ham,"Pity, * was in mood for that. So...any other s...",pity mood suggestion
5572,ham,The guy did some bitching but I acted like i'd...,guy bitching acted like interested buying some...
5573,ham,Rofl. Its true to its name,rofl true name

In [57]:
df1 = df.copy()

In [58]:
df1.drop(['text'], axis=1, inplace=True)

In [59]:
df1

      type                                  revised_sentences
0      ham  go jurong point crazy available bugis n great ...
1      ham                            ok lar joking wif u oni
2     spam  free entry wkly comp win fa cup final tkts st ...
3      ham                u dun say early hor u c already say
4      ham                nah think go usf life around though
...    ...                                                ...
5569  spam  nd time tried contact u u pound prize claim ea...
5570   ham                          b going esplanade fr home
5571   ham                               pity mood suggestion
5572   ham  guy bitching acted like interested buying some...
5573   ham                                     rofl true name

[5574 rows x 2 columns]

In [60]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [61]:
Tf_idf = TfidfVectorizer()

In [62]:
X = df['revised_sentences']

In [63]:
X = Tf_idf.fit_transform(X).toarray()

In [64]:
X

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [65]:
X.shape

(5574, 7094)

In [66]:
y = df['type']

In [67]:
y = pd.get_dummies(y, drop_first=True)

In [68]:
y

      spam
0        0
1        0
2        1
3        0
4        0
...    ...
5569     1
5570     0
5571     0
5572     0
5573     0

[5574 rows x 1 columns]

In [69]:
from sklearn.model_selection import train_test_split

In [70]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [71]:
from sklearn.naive_bayes import MultinomialNB

In [72]:
Nb = MultinomialNB()

In [73]:
model = Nb.fit(X_train, y_train)

C:\Users\compaq\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [74]:
y_pred = model.predict(X_test)

In [75]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [76]:
confusion_matrix(y_test, y_pred)

array([[968,   1],
       [ 32, 114]], dtype=int64)

In [77]:
accuracy_score(y_test, y_pred)

0.9704035874439462

In [78]:
from flask import Flask, render_template, url_for, redirect, request

In [80]:
app = Flask(__name__)

model_Nb = Nb

@app.route('/')
def Home():
    return render_template('index.html')

@app.route('/submit', methods=['POST', 'GET'])
def submit():
    if request.method == 'POST':
        Message = request.form['Message']
        text = [Message]
        X = Tf_idf.transform(text).toarray()
        pred1 = model_Nb.predict(X)
    return render_template('result.html', prediction = pred1)


if __name__ == '__main__':
    app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [15/Jan/2022 13:32:25] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [15/Jan/2022 13:32:47] "POST /submit HTTP/1.1" 200 -